
  @import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Montserrat:wght@400;500&display=swap');


    
  *{
    font-family:'Montserrat', sans-serif; 
  }  
  
body {
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
   
    
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg");
    background-size: cover;
    opacity: 0.5;
  }
  nav{
    text-align: center;
    
  }
  .principio{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 0 40px;
    
  }
  article{
    text-align: center;
    
  }
  
  h1 {
    color: white;
    font-size:  130px;
    font-weight: 400;
    margin: 10px;
   
  }
  .botones{
    display:inline-grid;   
  }
  .botonEscucha{
color: white;
background-color: rgba(0, 0, 0, 0.1);
border: 1px solid white;
width: 400px;
height: 60px;
font-size: 17px;
cursor: pointer;
  }
  .botonPlay{
    margin: 45px auto 0;
    height: 100px;
  }

  table{
    color:black;
    width: 100%;
    height: 350px;
    border-collapse: collapse;
     }
td{
  font-size: 20px;
}

  main{
    background-color: white;
    height: 500px;
    margin-top: 2%;
    padding: .3px 20%;
  
  }
  .tours{
    text-align: center;
    font-size: 40px;
    
  }
  .final{
    color: white;
    font-size: 50px;
    display: inline-flex;

  }
  .piePagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20%;
    background-color: black;
    
  }
  tr{
    border-bottom: 1px solid black;
  }
  tr:last-child {
    border-bottom: none;
  }
  .boletos{
    background-color: #00bfff;
    width: 200px;
    height: 30px;
    color: white;
    border-radius: 7%;
    border: 1px solid #00bfff;

  }
  footer img{
    width: 40px;
    margin: 0 10px ;
    padding: 0 10px ;

  }
  .contenedor{
    padding-left: 7%;
  }